<!DOCTYPE html>
<html>
<img src="https://i.imgur.com/7aWgKUO.jpg" border="0" alt="Header image"/></a>
  
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{ page.title }}</title>
  
  </head>
  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/calendar">Calendar</a></li>
<li><a href="/resources">Learning Resources</a></li>
<li><a href="/library">Library</a></li>
<li><a href="mailto:listserv@list.vanderbilt.edu?subject=Press%20send%20to%20subscribe&body=signup%20vandyapps">Sign Up for List Serv</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <center><ul>
   <li><a href="mailto:vandyapps@gmail.com" target="_blank">Email us</a></li>
   <li><a href="https://anchorlink.vanderbilt.edu/organization/VandyApps" target="_blank">@AnchorLink</a></li>
   <li><a href="https://www.facebook.com/VandyApps/?fref=ts&ref=br_tf" target="_blank">@Facebook</a></li>
   <li><a href="https://github.com/vandyapps" target="_blank">@Github</a></li>
   </ul>
   <img width=15% height=10% src="https://i.imgur.com/Sa98Tln.jpg" border="0" alt="Footer image"/></center>
  </footer>
  </body>

</html>
