<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/projects">Project Forum</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/calendar">Calendar</a></li>
<li><a href="/resources">Learning Resources</a></li>
<li><a href="/notes">Session Notes</a></li>
<li><a href="/library">Library</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:vandyapps@gmail.com">email</a></li>
   <li><a href="https://github.com/vandyapps">github.com/vandyapps</a></li>
   </ul>
  </footer>
  </body>

</html>
