<!DOCTYPE html>
<html>
  <head>
  <a href="http://s1339.photobucket.com/user/adam_gross1/media/13043444_1189955967682926_8496823276350081830_n_zpsvplxcfbc.jpg.html" target="_blank"><img src="http://i1339.photobucket.com/albums/o717/adam_gross1/13043444_1189955967682926_8496823276350081830_n_zpsvplxcfbc.jpg" border="0" alt=" photo 13043444_1189955967682926_8496823276350081830_n_zpsvplxcfbc.jpg"/></a>
  <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/projects">Project Forum</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/calendar">Calendar</a></li>
<li><a href="/resources">Learning Resources</a></li>
<li><a href="/notes">Session Notes</a></li>
<li><a href="/library">Library</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:vandyapps@gmail.com">Email us</a></li>
   <li><a href="https://anchorlink.vanderbilt.edu/organization/VandyApps">@AnchorLink</a></li>
   <li><a href="https://www.facebook.com/VandyApps/?fref=ts&ref=br_tf">@Facebook</a></li>
   <li><a href="https://github.com/vandyapps">@Github</a></li>
   <li><a href="mailto:listserv@list.vanderbilt.edu">Add Yourself To Our ListServ</a></li>
   </ul>
  </footer>
  </body>

</html>
